*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.clock{
    width: auto;
}
.flip-clock-dot{
    background: #ccc;
}
.flip-clock-meridium a{
    color: #ccc;
}
.img{
    width: 100%;
    height: auto;
    display: block;
}
.neon{
    color: #fff;
    text-shadow: 0 0 20px #ff005b
}
@media only screen and (min-device-width: 320px) 
  and (max-device-width: 580px)
{
    h1 { font-size: 1.2em }
}